*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://image.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*
}

#back{
    width: 400px;
    height: 150px;
    margin: 300px auto;
    border: 2px solid;
    border-radius: 20px;
}

#clock{
    margin-top: 25px;
    margin-left: 35px;
    font-size: 90px;
}